.manrope_font {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* <!-- 
    <div class=" bg-white relative z-0 text-center pt-5 rounded-lg flex-1">
      <div class="containe flex gap-[5px] z-10">

      <div class="bg-white text-center">
        <a href="">
          <img class="mx-auto " src="./image/solar-5-metal-strap-black-official-200x200.webp" alt="">
        </a>
       <h3 class="hover:text-[#ef4a23] underline font-semibold pt-2 pb-8 cursor-pointer">Haylou Solar 5 Smart Watch with Metallic Strap</h3>
       <div class="pb-4">
        <span class="font-semibold text-xl mr-4 text-[#ef4a23]">5,850 Tk</span> 
       <span class="font-medium line-through text-gray-500"  > 6,399 Tk</span>
       </div>
      </div>
      <div class="bg-white text-center">
        <a href="">
          <img class="mx-auto w-[200px] h-[200px]" src="./image/bip-5-unity-grey-official-200x200.webp" alt="">
        </a>
       <h3 class="hover:text-[#ef4a23] underline font-semibold pt-2 pb-8 cursor-pointer">Amazfit Bip 5 Unity</h3>
       <div class="pb-4">
        <span class="font-semibold text-xl mr-4 text-[#ef4a23]">5,500 Tk</span> 
       </div>
      </div>
      </div>
      <span class="bg-blue-600 px-[5px] text-white absolute left-[184px] top-[120px]">vs</span>
      <button class="bg-blue-50 hover:bg-blue-500 text-blue-600 hover:text-white ring-[0px] py-2 w-[90%] font-semibold rounded-md transition duration-300 ease-in-out
         transform hover:scale-105">Full Comparision</button>
    </div>
    <div class=" bg-white relative z-0 text-center pt-5 rounded-lg">
      <div class="containe flex gap-[5px] z-10">

      <div class="bg-white text-center">
        <a href="">
          <img class="mx-auto" src="./image/spark-40-pro-ink-black-official-200x200.webp" alt="">
        </a>
       <h3 class="hover:text-[#ef4a23] underline font-semibold pt-2 pb-8 cursor-pointer">Tecno SPARK 40 Pro</h3>
       <div class="pb-4">
        <span class="font-semibold text-xl mr-4 text-[#ef4a23]">19,000 Tk</span> 
       <span class="font-medium line-through text-gray-500"  > 20,000 Tk</span>
       </div>
      </div>
      <div class="bg-white text-center">
        <a href="">
          <img class="mx-auto" src="./image/vivo-y29-elegant-white-01-200x200.webp" alt="">
        </a>
       <h3 class="hover:text-[#ef4a23] underline font-semibold pt-2 pb-8 cursor-pointer">Vivo Y29</h3>
       <div class="pb-4">
        <span class="font-semibold text-xl mr-4 text-[#ef4a23]">19,999 Tk</span> 
       </div>
      </div>
      </div>
      <span class="bg-blue-600 px-[5px] text-white absolute left-[184px] top-[120px]">vs</span>
      <button class="bg-blue-50 hover:bg-blue-500 text-blue-600 hover:text-white ring-[0px] py-2 w-[90%] mb-4  font-semibold rounded-md transition duration-300 ease-in-out
         transform hover:scale-105">Full Comparision</button>
    </div>
    <div class=" bg-white relative z-0 text-center pt-5 rounded-lg">
      <div class="containe flex gap-[5px] z-10">

      <div class="bg-white text-center">
        <a href="">
          <img class="mx-auto" src="./image/spark-40-pro-ink-black-official-200x200.webp" alt="">
        </a>
       <h3 class="hover:text-[#ef4a23] underline font-semibold pt-2 pb-8 cursor-pointer">Tecno SPARK 40 Pro</h3>
       <div class="pb-4">
        <span class="font-semibold text-xl mr-4 text-[#ef4a23]">19,000 Tk</span> 
       <span class="font-medium line-through text-gray-500"  > 20,000 Tk</span>
       </div>
      </div>
      <div class="bg-white text-center">
        <a href="">
          <img class="mx-auto" src="./image/vivo-y29-elegant-white-01-200x200.webp" alt="">
        </a>
       <h3 class="hover:text-[#ef4a23] underline font-semibold pt-2 pb-8 cursor-pointer">Vivo Y29</h3>
       <div class="pb-4">
        <span class="font-semibold text-xl mr-4 text-[#ef4a23]">19,999 Tk</span> 
       </div>
      </div>
      </div>
      <span class="bg-blue-600 px-[5px] text-white absolute left-[184px] top-[120px]">vs</span>
      <button class="bg-blue-50 hover:bg-blue-500 text-blue-600 hover:text-white ring-[0px] py-2 w-[90%] mb-4  font-semibold rounded-md transition duration-300 ease-in-out
         transform hover:scale-105">Full Comparision</button>
    </div>
    <div class=" bg-white relative z-0 text-center pt-5 rounded-lg">
      <div class="containe flex gap-[5px] z-10">

      <div class="bg-white text-center">
        <a href="">
          <img class="mx-auto" src="./image/spark-40-pro-ink-black-official-200x200.webp" alt="">
        </a>
       <h3 class="hover:text-[#ef4a23] underline font-semibold pt-2 pb-8 cursor-pointer">Tecno SPARK 40 Pro</h3>
       <div class="pb-4">
        <span class="font-semibold text-xl mr-4 text-[#ef4a23]">19,000 Tk</span> 
       <span class="font-medium line-through text-gray-500"  > 20,000 Tk</span>
       </div>
      </div>
      <div class="bg-white text-center">
        <a href="">
          <img class="mx-auto" src="./image/vivo-y29-elegant-white-01-200x200.webp" alt="">
        </a>
       <h3 class="hover:text-[#ef4a23] underline font-semibold pt-2 pb-8 cursor-pointer">Vivo Y29</h3>
       <div class="pb-4">
        <span class="font-semibold text-xl mr-4 text-[#ef4a23]">19,999 Tk</span> 
       </div>
      </div>
      </div>
      <span class="bg-blue-600 px-[5px] text-white absolute left-[184px] top-[120px]">vs</span>
      <button class="bg-blue-50 hover:bg-blue-500 text-blue-600 hover:text-white ring-[0px] py-2 w-[90%] mb-4  font-semibold rounded-md transition duration-300 ease-in-out
         transform hover:scale-105">Full Comparision</button>
    </div> --> */


    /* <section class="mx-auto max-w-[1300px] mt-7">
        <div class="baner_container flex justify-between gap-2 ">
          <!-- left image -->
          <div class="w-[75%]   " >
            <img class="w-[950px] h-[509px] px-1 object-fill shadow-[5px_5px_0_rgba(0,0,0,0.03)]" src="./image/star-link-home-2025-banner-982x500.webp " alt="">
          </div>
          <!-- sub container -->
          <div class="sub_banner_container max-w-[25%] h-full px-1 ">
            <div class="bg-[#FFE8A1] py-6 px-8 text-center shadow-[5px_5px_0_rgba(0,0,0,0.03)] mb-8">
              <h4 class="font-bold">Compare Product</h4>
              <p class="text-[#666666]">Choose Two Products to Compare</p>
              <!-- input part 1 -->
              <div class="relative mt-4">
            <input
              class="w-[100%] h-10 border-none rounded-sm bg-white px-3 outline-none"
              placeholder="Search"
              type="text"
            />
            <i
              class="fa-solid fa-magnifying-glass text-xl absolute right-3 top-3 cursor-pointer text-gray-500"
            ></i>
          </div>
          <!-- input part 2 -->
              <div class="relative mt-4">
            <input
              class="w-[100%] h-10 border-none rounded-sm bg-white px-3 outline-none mb-4 "
              placeholder="Search"
              type="text"
            />
            <i
              class="fa-solid fa-magnifying-glass text-xl absolute right-3 top-3 cursor-pointe text-gray-500 cursor-pointer"
            ></i>
          </div>
          <button class="w-[100%] font-semibold py-2 border-2 border-blue-600 cursor-pointer hover:bg-[#3749bb] hover:text-white rounded-md">View Comparison</button>
            </div>

            <div >
              <img class=" shadow-[5px_5px_0_rgba(0,0,0,0.03)] p-1" src="./image/job-career-2024.webp" alt="">
            </div>
          </div>
        </div>
      </section> */

      .hide{
        display: none;
      }


